{% extends 'base.html' %}


{% block sidebar %}
{% endblock %}


{% block content %}
<div class="w-full flex justify-center p-4">

    <div class="toast toast-end toast-top">
        {% for error in form.non_field_errors %}
        <div class="alert alert-error alert-soft">
            <span>{{error}}</span>
        </div>
        {% endfor %}
    </div>
    <form class="w-1/2 flex flex-col p-4 " method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 text-sm md:text-lg shadow-md ">
            <legend class="fieldset-legend text-2xl">Register</legend>


            {% for field in form %}


            <label class="label">{{field.label}}</label>
            {{field}}

            {% for error in field.errors %}
            <div class="text-red-600 text-sm">
                <span>{{error}}</span>
            </div>
            {% endfor %}

            {% endfor %}




            <button class="btn btn-neutral mt-4">Register</button>


            <a href="{% url 'accounts:school_admin_login' %}" class="mt-4 text-sm text-blue-500">
                Already have an account? Click here to login
            </a>
        </fieldset>

    </form>
</div>
<!-- Your page content here -->
{% endblock %}